.calculadora {
    background: blueviolet;
    width: 200px;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    box-shadow:  5px  5px rgb(0,0,0);
    text-align: center;
}
.calculadora input{
    background: coral;
    border: none;
    padding:5px;
    border-radius: 5px;
}
.calculadora input:focus{
    background: black;
    color: rgb(255, 0, 0);
}

#btnCalc{
    background: chartreuse;
    color: black;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
}
#btnCalc:hover {
    background: green;
    color: whitesmoke;
}
.spResultado{
    background: black;
    color: yellow;
    padding: 4px;
    margin: 2px;
    border-radius: 10px;
}
.spMes{
    color: red;
    background: saddlebrown;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(0,0,0);
    text-align: start;
}
